
<header>
<div class="topnav">
    <label>Ecommerce:</label>
    <input type="text" placeholder="Search" size="100px">&nbsp;<button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Categories</button>&nbsp;<button type="button" class="btn btn-primary"><span class="bi bi-cart"></span>Cart</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <ul class="dropdown-menu">
            <li>Electronics</li>
            <li>Cloths</li>
        </ul>
      </div>
      </div>
      
      
    
      
    <div class="card" style="height: 300px; width: 400px;">
      <img src="/assets/laptop.png" alt="Avatar" style="width:280px"/>
      <div class="container">
        <h4><b>lenovo laptop</b></h4>
        <p>Rs.65000</p>
      </div>
      <div>
      <button type="button" class="btn btn-primary" style="width: 150px;">Add to Cart</button>&nbsp;<button type="button" class="btn btn-primary" style="width: 150px;">Buy Now</button>
      </div>
      </div>
      
      
      <div class="card" style="height: 350px; width: 400px;">
        <img src="/assets/mobile.png" alt="Avatar" style="width:200px"/>
        <div class="container">
          <h4><b>Redmi Mobile</b></h4>
          <p>Rs.20000</p>
        </div>
        <div>
        <button type="button" class="btn btn-primary" style="width: 150px;">Add to Cart</button>&nbsp;<button type="button" class="btn btn-primary" style="width: 150px;">Buy Now</button>
        </div>
        </div>
        </header>
