<!--<table class="table">
    <thead class="thead-dark">
        <tr>
            <th>productImage</th>
            <th>productName</th>
            <th>productPrice</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let tempProduct of products">
            <td>
                <img src="{{tempProduct.productImage}}" height="50"/>
            </td>
            <td class="align-middle">{{tempProduct.productName}}</td>
            <td class="align-middle">{{tempProduct.productPrice|currency:'INR'}}</td>
        </tr>
    </tbody>
</table>-->




